body {
  background-image: url('https://images.unsplash.com/photo-1489533119213-66a5cd877091?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=751&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

p{ 
	color : green;
}

